@import url(reset.css);
@import url(common.css);



/* ------------ LAYOUT ------------------ */


/* html{
    height: 100%;
    width: 100%;
} */

body{
    background: rgb(21, 28, 46);
    background-image: url('../images/steam_ai_bg.jpg');
    font: 16px "Cabin", Helvetica, Arial, sans-serif;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: #bbb;
	overflow-y:scroll;
    /* padding-bottom:300px; */
    min-width: 1220px;
    /* font-family: "Lucida Console", Monaco, monospace; */

}
/* header .top_menu{
    font-family: "Lucida Console", Monaco, monospace;

} */


.container{
    width: 1200px;
    margin: 0 auto;
}

.outer_margin{
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    
}



/* ------------ FONTS ------------------ */


.big-title{
    font-weight: 300;
    font-size: 40px;
    /* margin-bottom: 50px;     */
    font-family: "Lucida Console", Monaco, monospace;
    color: #fff;

}
.contents-tt, .content-description{
    color: #fff;
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    /* font-family: "Lucida Console", Monaco, monospace; */
}

.content-description{
    font-size: 20px;
    color: inherit;
}

.contents-smalltt{
    font-size: 25px;
    font-weight: normal;
    color: #3498db;
}

.pic_contents-tt{
    font-size: 54px;
    color: #fff;
    font-weight: 300;
    padding-top: 130px;
    margin-bottom: 30px;
    font-family: "Lucida Console", Monaco, monospace;
}

.pic_contents-desription{
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 35px;
    font-weight: lighter;
    font-style: italic;

}

.content_title{
    font-size: 26px;
    text-align: left;
    text-indent: 30px;
    /* margin-bottom: 100px; */
}



/* font이름 Offside 참고*/

/* ------------------ HEADER ------------------ */


header{
    /* position: relative; */
    z-index: 1;
}


header .logo{
	text-indent: -9999em;
}

/*
로고의 a에 백그라운드를 넣어야한다
sprite도 일부라도 넣어야한다 
검색잘되게하려고 글씨를 쓰고 날려버리고 배경을 처리했다
이 배경이 용량이 클까봐 sprite로 노력을 했다
기본을 지키려고 노력을 했다

*/

.top_menu {
    /* background:#000; */
	/* height:50px; */
    width: 100%;
    padding-bottom: 10px;

}
.top_menu .logo img{
    width: 90px;
    float: left;
    padding-top: 10px;
}

.top_menu .top_menu_wrapper{
	float: right;
	/* font-size: 16px; */
	/* transform: translateY(30px); */
}

.top_menu .top_menu_list li{
	float: left;
	padding-left: 30px;
}

.top_menu .top_menu_list li i{
	padding-right: 15px;
}

header .main_menu{
	position: absolute;
	width: 100%;
	background:linear-gradient(rgb(22, 22, 22) 50px,rgba(48, 48, 48, 0.9) 50px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	height: 50px; /*마우스 오버시 전체높이 369px로 변경*/
	line-height: 20px;
	transition: height 0.5s;
	margin-top: 50px;
	z-index: 1;
	left: 0; right: 0; top: 0;
	overflow:hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

header .main_menu.sticky{
	position: fixed; top:-50px;

}

header .main_menu:hover{
	height: 320px;
}

.main_menu_list{
	width: 100%;
    height: 100%;
	margin: 0 auto;
    position: relative;
	/* text-align: center; */
	color: rgb(187, 187, 187);
}

.main_menu_list > li{
	/* padding:20px 0 50px; */
    /* font-size: 16px; */
    font-weight: 200;
    font-style: lighter; 
    float: left;
    line-height: 50px;
    position: absolute;
    /* margin-right: 50px; */
    
    /* border-bottom: 0.125em solid #3498db; */
}

.main_menu_list >li i{
	margin-right: 10px;
}

.main_menu_list > li:nth-child(1){
	left: 0;
}
.main_menu_list > li:nth-child(2){
	left: 150px;
}
.main_menu_list > li:nth-child(3){
	left: 300px;
}
.main_menu_list > li:nth-child(4){
	left: 450px;
}
.main_menu_list > li:nth-child(5){
	left: 600px;
}
.main_menu_list > li:nth-child(6){
	left: 750px;
}
.main_menu_list > li:last-child{
	right: 0;
}


/* .main_menu_list h3::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;

    transition: 0.35s;
}

.main_menu_list h3:hover::after{
    top: 0;

} */

.main_menu_list ul{
    padding: 10px 10px;
    position: absolute;
}

.main_menu_list ul li{
    /* margin-right: 20px; */
    line-height: 30px;
    overflow: hidden;
    
}

.main_menu_list ul li:hover{
    color: #fff;
    font-weight: normal;
}

/* .main_menu_list > li{
    margin: 0 auto;    
} */

.main_menu_list > li > a{
    /* position: relative; */
    /* display:block; */
    /* text-align: center; */
    font-family: "Lucida Console", Monaco, monospace;

}

.main_menu_list > li > a:after{
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: rgb(20, 152, 219, 0.7);
    height: 4px;
    transition: right 0.3s;

    /* font-size: 20px; */
    /* border-radius: ; */
}
.main_menu_list > li > a:hover{
    color: #fff;
}

.main_menu_list > li > a:hover:after{
    right: 0;
}


.main_menu_list > li:nth-child(6){
    width: 150px;
    /* height: 100%; */
    background: #155b8c;
    text-align: center;
    color: white;
    font-size: 20px;
    /* border-radius: ; */
}

.main_menu_list li:last-child{
    margin-left: 60px;
}

.main_menu_list form input{
    height: 25px;
    display: inline-block;
    border-radius: 80px;
    text-align: center;
	color:#626262;
    font-style: italic;
    margin-right: 10px;

}



 /* -------------------------------- BANNER ------------------------------ */



 /* 
.banner{
    margin-top: 0px;
}
 */

.banner{
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);

}
.slide_wrapper{
	width: 100%;
	height: 700px;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
}

.bn_slides{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: left 1s cubic-bezier(1, 0, 0, 1);
}

.bn_slide{
	position: absolute;
	width: 100%;
	height: 100%;
    left: 0;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.bn_slide.slide1{
    background-image: url('../images/eveOnline3.jpg');
    
}
.bn_slide.slide2{
    background-image: url('../images/cyberpunk_2077_2.jpg');
    background-position: 50% 80%;
}
.bn_slide.slide3{
    background-image: url('../images/GTA5.jpg');
}
.bn_slide.slide4{
    background-image: url('../images/NFSH2.png');
    background-position: 50% 35%;
}
.bn_slide.slide5{
    background-image: url('../images/civilization_vl4.jpg');
    background-size: cover;
    background-position: 50% 15%;
}

.bn_slide .contents_wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 30%;
    display: inline-block;
    left: 0; right: 0; bottom: 0;
    transition: 0.5s ease-in-out;

}

.bn_slide .contents_wrapper .contents_left{
    float: left;
    position: absolute;
    top: 40px; left: 30px;
    margin-left: 10%;
}

.bn_slide .contents_wrapper .contents_right{
    float: right;
    position: absolute;
    margin-right: 10%;
    top: 40px; right: 20px;
}

.bn_slide .contents_wrapper .contents_left p{
    width: 100%;
    margin: 20px auto 50px;
}

.buttons{
    position: absolute;
    bottom: -10%;
    
}

.buttons span{
    background: transparent;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    border: none;
}

.keywords{
    /* border: 1px solid #fff; */
    display: inline-block;
    padding: 10px 30px 10px;
    color: #000;
    border-radius: 10px;
    margin-right: 10px;
    background: #fff;
}


.contents_right h4{
    /* display: inline-block; */
    text-align: right;
    margin: 0 30px 50px;
}

.controls span{
	position: absolute;
    top: 50%;
    color: rgba(255, 255, 255, 0.7);
	transform: translateY(-50%);
    font-size: 50px;
}

.controls span:hover{
    color: rgba(255, 255, 255, 1);
	font-size: 55px;
}

.controls .prev{
	left: 150px;
}

.controls .next{
	right: 150px;
}

.pager{
    position: absolute;
    /* top: 0;   */
    left: 0;
    right: 0;
    bottom: -30px;
    text-align: center;
}

.pager span{
    width: 60px;
    height: 5px;
    background: #ccc;
    box-shadow: inset 0 0 0 0 #3498db;
    display: inline-block;
    text-indent: -999em;
    transition: 1s cubic-bezier(1, 0, 0, 1);
    margin: 0 5px;
}

.pager span.active{
    box-shadow: inset 60px 0 0 0 #3498db;
}



/*---------------------- MAIN -----------------------*/





/*---------------------- SECTION 0 -----------------------*/

.section0 ul.cat_icons {
    /* width: 90%; */
    margin: 80px auto 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 30px 0;
    /* border-bottom: 2px solid #bbb;
    border-top: 2px solid #bbb; */
}
.section0 ul.cat_icons img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}
.section0 ul.cat_icons img:hover {
    opacity: 1;
}
/* .section0 ul.cat_icons li {
    width: 250px;
    height: 250px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
} */
.section0 ul.cat_icons li{
    opacity: 0.5;
}
.section0 ul.cat_icons li:hover{
    opacity: 1;
}
.section0 ul.cat_icons li p {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.section0 {
    transform: translateY(200px);
    transition: 1.5s;
    opacity: 0;
    }
    
.section0.active{
    transform: translateY(0);
    opacity: 1;
}
    





/*------------------ SECTION 1 ------------------------*/

.section1{
    transform: translateY(200px);
    transition: 1.5s;
    opacity: 0;
}

.section1.active{
    transform: translateY(0);
    opacity: 1;
}

.content_top{
    /* display: block;
    position: relative; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.content_body{
	width: 100%;
	height: 450px;
	margin: 0 auto;
	/* position: relative; */
	overflow: hidden;
}

.sec1_slides{
	/* position: absolute;
	width: 100%;
    height: 100%;
    transition: left 0.5s ease-in-out;
    */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
} 

.sec1_slide{
	/* position: absolute;
	width: 30%;
	height: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
    left: 0;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6); */
}
.sec1_slides > div.sec1_slide {
    /* background-position: center;
    background-repeat: no-repeat; */
    /* width: auto; */
    /* height: 100%; */
    position: relative;
    /* width: 30%; */
    flex: 1;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.sec1_slides > div.sec1_slide > img {
    width: 100%;
    height:100%;
}

.sec1_slide.slide1{
    /* background-image: url('../images/DBD1.jpg'); */
}
.sec1_slide.slide2{
    background-image: url('../images/pubg1.jpg');
}
.sec1_slide.slide3{
    background-image: url('../images/FM1.jpg');
}
.sec1_slide.slide4{
    background-image: url('../images/civilization_vl5.jpg');
    background-position: 50% 0%;    
}
.sec1_slide.slide5{
    background-image: url('../images/FIFA21.jpg');
}
.sec1_slide.slide6{
    background-image: url('../images/LittleNightmares.jpg');
}

.sec1_content_wrapper{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    left: 0; right: 0; bottom: 0; top: 0;
    transition: .3s;
}
.sec1_slide:hover .sec1_content_wrapper{
    opacity: 1;
}

.sec1_controls{
    /* position: absolute;
    right: 0;
    top: 10px; */
    font-size: 40px;
}

.sec1_controls span{
    margin-left: 50px;
}

.sec1_content{
    height: 330px;
    margin: 35px;
    padding: 30px 15px 15px;
    position: relative;
    text-shadow: 0 0 5px #000;
}


.sec1_content:before{
    content: '';
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 0; right: 100%; bottom: 100%; left: 0;
    position: absolute;
    transition: .6s ease-in-out;
}

.sec1_content:after{
    content: '';
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 100%; right: 0; bottom: 0; left: 100%;
    position: absolute;
    transition: .6s ease-in-out;
}

.sec1_content_wrapper:hover .sec1_content:before{
    right: 0; bottom: 0;
}

.sec1_content_wrapper:hover .sec1_content:after{
    top: 0; left: 0;
}

.sec1_content h3{
    margin-bottom: 20px;
    font-size: 22px;
    color: #fff;
}

.sec1_content p:nth-of-type(1){
    color: #40a8ee;
    font-size: 18px;
    margin-bottom: 20px;
}


.sec1_content span{
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;

}

.sec1_content p:nth-of-type(2){
    margin-bottom: 20px;

}

.sec1_content .price{
    color: #fff;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;

}

.sec1_keywords{
    display: inline-block;
    padding: 5px;
    color: #000;
    border-radius: 5px;
    margin-right: 10px;
    background: #fff;
    text-shadow: none;
}




/*-------------------- SECTION 2 ----------------------*/

.section2{
    transform: translateY(200px);
    transition: 1.5s;
    opacity: 0;
}

.section2.active{
    transform: translateY(0);
    opacity: 1;
}


.content_ul{
    width: 100%;
    overflow: hidden;
}

.content_ul li {
    width: 224px;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    display: inline-block;
}

.content_ul li:nth-child(5){
    margin-right: 0;
}

.content_ul li:nth-child(n+6){
    width: 590px;
}

.content_ul li:last-child{
    margin-right: 0;
}

.content_ul li img{
    text-indent: -999em;
    display: inline-block;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    opacity: 0.75;
    transition: 0.5s;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .6);

}

.content_ul li:hover img{
    transform: scale(1.05);
    opacity: 1;
}

.content_ul li dl dt{
    margin: 20px 0;
    font-weight: normal;
    color: #fff;
}

.content_ul li dl dd{
    margin-bottom: 10px;
    font-weight: lighter;
}

.content_ul li dl dd:last-child{
    text-align: right;
    padding-right: 15px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}



.content_ul li:first-child > span{
    background-image: url('../images/DBD1.jpg');
}
.content_ul li:nth-child(2) > span{
    /* background-image: url('../images/pubg1.png'); */
}
.content_ul li:nth-child(3) > span{
    background-image: url('../images/FM1.jpg');
}
.content_ul li:nth-child(4) > span{
    background-image: url('../images/hacknet1.png');
}
.content_ul li:nth-child(5) > span{
    /* background-image: url('../images/DBD1.png'); */
}
.content_ul li:nth-child(6) > span{
    background-image: url('../images/fall_guys.jpg');
}
.content_ul li:nth-child(7) > span{
    /* background-image: url('../images/SOMA1.png'); */
}


.sec2_content{
    position: relative;
}



.sec2_content_descirption{
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 400px;
    height: 350px;
    padding: 20px 0 0;
    text-align: center;
    box-sizing: border-box;
    left: 110%; right: 0; top: 0; bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.sec2_content_descirption video{
    width: 100%;
    height: 70%;
}

.sec2_content_descirption:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 15px 20px 15px 15px;
    border-color: transparent #000 transparent transparent;
    box-sizing: border-box;
    top: 15%;
    right: 100%;
}

.sec2_content:nth-child(n+4) .sec2_content_descirption{
    left: -190%; right: 0; top: 0; bottom: 0;
}

.sec2_content:nth-child(n+4) .sec2_content_descirption:after{
    right: 0;
    left: 100%;
    border-width: 15px 15px 15px 20px;
    border-color: transparent transparent transparent #000;
}

.sec2_content:nth-child(n+6) .sec2_content_descirption{
    left: 100%; right: 0; top: 0; bottom: 0;
    width: 80%;
    padding: 20px 0 0;

}
.sec2_content:nth-child(n+6) .sec2_content_descirption:after{
    left: -30px;
    border-width: 15px 20px 15px 15px;
    border-color: transparent #000 transparent transparent;
}

.sec2_content:last-child .sec2_content_descirption{
    left: -80%; right: 0; top: 0; bottom: 0;
}

.sec2_content:last-child .sec2_content_descirption:after{
    right: 0;
    left: 100%;
    border-width: 15px 15px 15px 20px;
    border-color: transparent transparent transparent #000;
}



.sec2_content:hover .sec2_content_descirption{
    opacity: 1;
}

.sec2_keywords{
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

/* Page main */
.page-main { margin: auto; padding: 0 10px 100px; width: 960px;}

/* Gallery  */
.gallery { margin: 0; padding: 0;}
.gallery:after{content:''; display:block; clear:both;}

.gallery-item { float:left; margin-right:10px; margin-top: 10px; background:silver; padding:20px; opacity:0; animation: fadeIn 1s forwards;}
.gallery-item h3{
	font-size: 14px;
}

/* .gallery-item:nth-child(4n) {margin-right:0;} */

@keyframes fadeIn{
	0% {opacity:0; }
	100% { opacity:1;}
}


/*  이미지를 로딩하는 동안 보이지 않게 함*/
.gallery-item.is-loading { opacity: 0; }

.loadmore_contents{
    display: none;
}
.loadmore_contents.show{
    display: block;
}
button#load-more {
    border: none;
    background: none;
    font-size: 45px;
    color: #8c8c8c !important;
    transition: 0.3s;
    margin: 20px auto;
    width: 100%;
}

button#load-more:hover {
    font-size: 47px;
    color: #0099cc !important;
}

button#load-more.done{
    display: none;
}




/* ----------------------STEAM AI----------------------- */

.steam_ai_wrapper{

    width: 100%;
    height: 500px;
    background: linear-gradient(333deg, #001A4D 17.22%,#155b8c 88.56%);
    overflow: hidden;
    transform: translateY(300px);
    transition: 2s;
    opacity: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);

}

.steam_ai_wrapper.active{
    transform: translateY(0);
    opacity: 1;
}

.content_wrapper{
    height: 100%;
    position: relative;
}

.content_wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    left: -120%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    display: block;
    width: 60%;
    height: 100%;
    transform: skew(-30deg);
}

.content_wrapper:hover:before{
    animation: shine 1.2s;
}

@keyframes shine{
    100%{left: 120%;}
}


.content_wrapper .content{
    transform: translateX(1000px) scale(1);
    opacity: 0;
    float: left;
    width: 50%;
    height: 100%;
    transition: transform 1.5s;
}

.content_wrapper .content.active{
    transform: translateX(0);
    opacity: 1;
}
.content_wrapper:hover .content{
    transform: translateX(0) scale(1.05);
}


.content_wrapper .ai_right{
    opacity: 0;
    float: right;
    width: 50%;
    height: 100%;
    transform: translateY(30px) translateX(-2000px);
    transition: transform 1.5s;
}
.content_wrapper .ai_right img{
    width: 100%;
    height: 100%;
}

.content_wrapper .ai_right.active{
    transform: translateY(30px) translateX(0);
    opacity: 1;
}

.content_wrapper:hover .ai_right{
    transform: translateY(30px) translateX(0) scale(1.05);
    transition: transform 1s;
}

.btn{
    width: 250px;
    position: relative;
    display: inline-block;
    padding: 15px 5px 15px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    transition: 0.4s;
    overflow: hidden;
}

.btn:before{
    content: '';
    background: #fff;
    position: absolute;
    left: 0; right: 100%; top: 0; bottom: 0;
    transition: 0.5s;
    z-index: -1;

}
.btn:hover{
    font-size: 24px;
    font-weight: bold;
    width: 260px;
    color: #000;
    z-index: 1;
}

.btn:hover:before{
    left: 0; right: 0; top: 0; bottom: 0;
}





/* ---------------------- community ---------------------- */


.community{
    transform: translateY(200px);
    transition: 1.5s;
    opacity: 0;

}

.community.active{
    transform: translateY(0);
    opacity: 1;
}






.community_wrapper{
	width: 100%;
	height: 470px;
	margin: 0 auto 100px;
	position: relative;
	overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);
}
.community_slides{
	position: absolute;
	width: 100%;
    height: 100%;
    left: 0;
	transition: left 0.5s ease-in-out;

}

.com_slide{
	position: absolute;
	width: 100%;
	height: 100%;
}

.com_left{
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.com_slide.slide1 .com_left{
    background-image: url('../images/valheim_poster.jpg');
}
.com_slide.slide2 .com_left{
    background-image: url('../images/dont_starve.jpg');
}
.com_slide.slide3 .com_left{
    background-image: url('../images/mass_effect2.jpg');
}

.com_left h3{
    position: absolute;
    top: 20px; left: 20px;
}

.com_left video{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: opacity 0.6s;
}

.com_left:hover video{
    top: 0;
    opacity:1;
}

.com_right{
    background: rgba(0, 0, 0, 0.8);
    width: 30%;
    height: 100%;
    float:right;
}

.com_right_content{
    margin-top: 100px;
}

.com_right_content > p{
    font-size: 23px;
    padding: 0 20px 0;
    margin-bottom: 60px;
    text-align: center;
    line-height: 30px;
}

.com_right_content img{
    float: left;
    width: 60px;
    height: 60px;
    padding: 0 10px;
}

.com_right_content dl{
    float: left;
    padding: 0 10px;
    margin: 0;
}
.com_right_content dl dt{
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}

.com_right p:nth-of-type(3){
    width: 100%;
    height: 100px;
}

.com_right p:nth-of-type(3) span{
    float: left;
    text-indent: -9999em;
    /* background-image: url('../images/portrait.png'); */
    background-size: 50px;
    background-repeat: no-repeat;
}

.com_right p:nth-of-type(3) dl{
    float: right;
}

.com_controls span{
    position: absolute;
    top: 40px;
    display: block;
    font-size: 30px;
}

.com_controls span:hover{
    color: #fff;
    font-size: 33px;
}

.com_controls .com_prev{
    right: 230px;
}    

.com_controls .com_next{
    right: 100px;
}    












/* ---------------------- CAREERS ----------------------- */

.careers_wrapper{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation:fade 15s infinite;
    transform: translateY(200px);
    opacity: 0;
    transition: 2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);

}


.careers_wrapper.active{
    transform: translateY(0);
    opacity: 1;
}

.careers_wrapper > .content_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.careers_wrapper .content_wrapper .content {
    width: 1200px;
    margin: 0 auto;
}
.careers .btn{
    z-index: 1;
}



@keyframes fade{
    0%{background-image: url('../images/careers_img.png');}
    30%{background-image: url('../images/careers_img2.png');}
    60%{background-image: url('../images/careers_img3.png');}
    100%{background-image: url('../images/careers_img.png');}
}









/* ---------------------- BACK TO TOP ----------------------- */

.back_to_top{
    position: fixed;
    right: 10%;
    bottom: 10%;
    font-size: 45px;
    color: #bbb;
    transition: 0.8s;
    visibility: hidden;
    opacity: 0;
}

.back_to_top:hover{
    color: #fff;
    
}

.back_to_top.active{
    /* opacity: 0;
    pointer-events: none; */
    visibility: visible;
    opacity: 1;
}



/* ---------------------- FOOTER ----------------------- */

footer{
    background: #111;
    width: 100%;
    text-align: center;
    padding: 40px 0 40px;
}

.footer-contents{
    width: 100%;
}

.sprite{
    background: url('../images/footer_logo_sprite.png') no-repeat;
    background-size: cover;
    transform: translateY(50%);

}

.footer-contents .logo{
    float: left;
    display: inline-block;
    width: 142px;
    height: 50px;
    text-indent: -9999em;
    text-align: center;
}

.footer-contents .valve{
    float: right;
    display: inline-block;
    width: 176px;
    height: 50px;
    background-position: -144px;
    text-indent: -9999em;
    text-align: center;
}

.footer-contents .content ul{
    width: 100%;
    margin-top: 10px;
    line-height: 30px;
}


.footer-contents .content ul li{
    width: 100%;
    display: inline;
    margin-right: 20px;
}

.footer-contents .content div{
    padding: 20px 10px;
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.footer-contents .content div span{
    width: 60%;
    margin: 0 auto;

}
.footer-contents .fab{
    margin-right: 10px;
}






/*========================= STEAM AI PAGE =========================*/



body.aipage{
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    min-height: 100%;
    background-image: url('../images/steam_ai_bg3.png');
    background-size: 100%;
    animation: bgzoomin 8s ease-in-out infinite;
}

@keyframes bgzoomin{
    0%{background-size: 100%;}
    50%{background-size: 105%;}
    100%{background-size: 100%;}
}

body.aipage > main{
    width: 100%;
    height: 100%;
}

.aipage_content{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    left: 0; right: 0; top: 0; bottom: 0;
    text-align: center;
    transition: 0.5s;
}

.aipage_content img{
    width: 160px;
    height: 160px;
    transform: translateY(100%);
    opacity: 1;
    animation: slideup 1s ease-in-out;
}

.aipage_text{
    transform: translateY(0);
    opacity: 1;
    animation: slideup2 1s ease-in-out;
}

.aipage_text h1{
    margin: 200px 0 30px;
}

.aipage_text p{
    line-height: 35px;
}
.aipage_text span{
    margin-top: 20px;

}
@keyframes slideup{
    0%{transform: translateY(200%); opacity: 0;}
    100%{transform: translateY(100%); opacity: 1;}
}

@keyframes slideup2{
    0%{transform: translateY(100%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}










